BasedOnStyle: LLVM
Language: Cpp
Standard: c++11

IndentWidth: 2
TabWidth: 2
UseTab: Never
ColumnLimit: 96

BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: InlineOnly
PointerAlignment: Left
DerivePointerAlignment: false

SortIncludes: Never
IncludeBlocks: Preserve
ReflowComments: false
